/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat';
    font-style: normal;
}


*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 1296px;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media (max-width:768px) {

    html,
    body {
        min-width: 320px;
    }

}

input,
button,
textarea {
    font-family: "Montserrat";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}



img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.welcome {

    border-color: #1D1D1F;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: rgb(6, 6, 6);
    width: 100%;
    display: flex;
    justify-content: center;

}


.header {
    background: url(img/bgHeader.jpg) ;
    width: 1366px;
    height: 570px;
}

@media (max-width:768px) {
    header {
        background-color: rgb(6, 6, 6);
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }

    .header {
        background: url(img/bg-mobile420png.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 412px;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width:320px) {
    .header {
        background: url(img/bg-mobilepng.png);
        width: 100%;
        height: 412px;
        align-items: center;

    }
}


.logo {
    width: 82px;
    height: 54px;
    padding-left: 40px;
    padding-top: 30px;
}

@media (max-width:768px) {
    .logo {
        width: 41px;
        height: 27px;
        padding-left: 0;
        padding-top: 0;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 0px;
    }

    .logoimg {
        width: 41px;
        height: 27px;
    }
}


.navbar {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}


a {
    text-decoration: none;
    color: white;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 55px;
}

@media(max-width:768px) {
    .navbar-links {
        display: none;
        
    }

    .navbar {
        width: 280px;
        margin: 0 auto;
    }
}


.navbar-links a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    padding-left: 40px;
    color: #FFFFFF;
}

.navbar-links a:hover {
    color: #FFFFFF;
}

.phone {
    padding-left: 376px;
    padding-top: 42px;
}

@media (max-width:768px) {
    .phone {
        display: none;
    }
}

.phone-block {
    width: 252px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 17px;
}

.phone-number {

    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: black;
    position: absolute;
    padding-left: 18px;
    padding-top: 13px;
    max-width: 100%;
}

.main-text {

    width: 890px;
    height: 146px;
    font-weight: 600;
    padding-left: 40px;
    padding-top: 56px;
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    color: #FFFFFF;
}
.main-text-text{
    width: 879px;
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
}
@media (max-width:768px) {
    .main-text {
        width:320px;
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
        margin:0 auto;
        padding-left: 20px;
        padding-right: 71px;
        padding-top: 20px;
        align-items: center;
    }
    .main-text-text{
        width:247px;
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
    }
}

.main-text p {

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    padding-top: 40px;
}

@media (max-width:768px) {
    .main-text p {
        width: 271px;
        font-size: 16px;
        line-height: 140%;
        padding-top: 10px;
    }

}

.vot-pochemu {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {
    .vot-pochemu {
        flex-direction: column;
        margin: 0 auto;
        margin-top: 40px;
    }
}

.block-pochemu {
    padding-left: 0px;
}

@media (max-width:768px) {
    .block-pochemu {
        padding-left: 0px;
        margin: 0 auto;
    }
}

.pochemeh2 {
    margin-top: 80px;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    width: 592px;
    color: #1D1D1F;
}

.pochemuh3 {
    padding-top: 30px;
    width: 592px;
    font-size: 24px;
    line-height: 140%;
}

@media (max-width:768px) {
    .pochemeh2 {
        margin-top: 0px;
        width: 282px;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
    }

    .pochemuh3 {
        padding-top: 10px;
        width: 282px;
        font-size: 16px;
        line-height: 140%;
    }
}

.block-column {
    width: 651px;
    display: flex;
    margin-top: 94px;
    margin-left: 0px;
    margin-right: 40px;
}

@media (max-width:768px) {
    .block-column {
        width: 320px;
        height: 484px;
        padding: 0, 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        margin-top: 20px;
    }

}

.column1 {
    margin-left: 44px;
    width: 313px;
    height: 334px;
    background: #1D1D1F;
    border-radius: 15px;
}

.column2 {
    width: 313px;
    height: 334px;
    background: #1D1D1F;
    border-radius: 15px;
    margin-left: 25px;
}

@media(max-width:768px) {
    .column1 {
        margin: 0, auto;
        width: 320px;
        height: 218px;
        margin-left: 0px;
        padding-top: 0px;
    }

    .column2 {
        margin: 0, auto;
        width: 320px;
        height: 218px;
        margin-left: 0px;
        margin-top: 10px;
    }
}

.column-logo {
    margin: 25px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background: white;
    text-align: center;
}

@media(max-width:768px) {
    .column-logo {
        margin: 20px;
        width: 35px;
        height: 35px;
        -webkit-border-radius: 17.5px;
        -moz-border-radius: 17.5px;
        border-radius: 17.5px;
    }
}

.column-logo-text {
    display: block;
    padding-top: 18px;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
}

@media(max-width:768px) {
    .column-logo-text {
        font-size: 12px;
        padding-top: 9px;
    }
}

.column-text-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 25px;
}

@media(max-width:768px) {
    .column-text-header {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

.column-text-main {
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 25px;
    margin-top: 20px;
}

@media(max-width:768px) {
    .column-text-main {
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 140%;
    }
}

.etot-apart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@media(max-width:768px) {
    .etot-apart {
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}

.etot-apart-text {
    margin-top: 80px;
    padding-left: 0px;
    width: 655px;
}

@media(max-width:768px) {
    .etot-apart-text {
        width: 263px;
        margin: 0 auto;
        padding-left: 0;
        margin-top:0px;
    }
}

.etot-apart-text-head {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: #1D1D1F;
}

@media(max-width:768px) {
    .etot-apart-text-head {
        font-size: 20px;
        line-height: 130%;
    }
}

.etot-apart-text-body {
    padding-top: 30px;
    font-size: 22px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #a5a5a5;
}

@media(max-width:768px) {
    .etot-apart-text-body {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        padding-top: 10px;
    }
}

.etot-apart-img {
    margin-top: 90px;
    padding-right: 64px;
}

@media(max-width:768px) {
    .etot-apart-img {
        width: 280px;
        margin: 0 auto;
        margin-top: 20px;
        padding-right: 0;
    }

    .etot-apart-img img {
        width: 280px;
    }
}

.etot-apart-text-footer {
    margin-top: 40px;
    cursor: pointer;
}

@media(max-width:768px) {
    .etot-apart-text-footer {
        display: none;
    }
}

.etot-apart-footer-mobile {
    display: none;
}

@media(max-width:768px) {
    .etot-apart-footer-mobile {
        display: block;
        padding-top: 20px;
        margin: 0 auto;
        width: 262px;
    }

    .etot-apart-footer-mobile img {
        width: 262px;
    }
}


.vibrat-variant {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:768px) {
    .vibrat-variant {
        flex-direction: column;
        margin-top: 40px;
    }
}

.vibrat-variant-left {
    width: 583px;
    padding-top: 80px;
    margin-left: 40px;
}

@media(max-width:768px) {
    .vibrat-variant-left {
        width: 263px;
        margin: 0 auto;
        padding-top: 0;
    }
}

.vibrat-variant-right-sam {
    width: 652px;
    height: 381px;
    background: #1D1D1F;
    border-radius: 15px;
    margin-top: 79px;
    margin-left: 52px;
    margin-right: 40px;
}

@media(max-width:768px) {
    .vibrat-variant-right-sam {
        width: 320px;
        height: 244px;
        margin: 0 auto;
        margin-top: 20px;

    }
}



@media(max-width:768px) {
    .variant-li {
        width: 210px;
    }
    .varian-li-sam{
        width: 191px;
    }
}

.first-li {
    display: flex;
}

.vibrat-variant-right-vam {
    width: 652px;
    height: 381px;
    background: #1D1D1F;
    border-radius: 15px;
    margin-top: 79px;
    margin-left: 52px;
    margin-right: 40px;
}

@media(max-width:768px) {
    .vibrat-variant-right-vam {
        width: 320px;
        height: 244px;
        margin: 0 auto;
        margin-top: 20px;
    }
}



@media(max-width:768px) {
    .vibrat-variant-spisok {}
}

.vibrat-variant-left-head {
    font-weight: 600;
    font-size: 46px;
    line-height: 130%;
    color: #1D1D1F;
}

@media(max-width:768px) {
    .vibrat-variant-left-head {
        font-size: 20px;
    }
}

.vibrat-variant-left-content {
    font-size: 24px;
    line-height: 140%;
    padding-top: 24px;
}

@media(max-width:768px) {
    .vibrat-variant-left-content {
        font-size: 16px;
    }
}

.vibrat-variant-left-buttoms {
    padding-top: 40px;
}

@media(max-width:768px) {
    .vibrat-variant-left-buttoms {
        display: none;
    }
}

.vibrat-variant-buttons-mobile {
    display: none;
}

@media(max-width:768px) {
    .vibrat-variant-buttons-mobile {
        margin: 0 auto;
        align-items: center;
        padding-top: 20px;
        display: block;
    }
}

.vibrat-variant-left-buttoms-sam {
    width: 411px;
    height: 55px;
    border: 3px solid #1D1D1F;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-top: 8px;
    padding-left: 27px;
    color: #1D1D1F;
}

@media(max-width:768px) {
    .vibrat-variant-left-buttoms-sam {
        width: 262px;
        height: 36px;
        border-radius: 9px;
        font-size: 15px;
        line-height: 18px;
        padding-left: 20px;
    }
}

.vibrat-variant-left-buttoms-vam {
    cursor: pointer;
    padding-top: 8px;
    padding-left: 27px;
    border: 3px solid #1D1D1F;
    border-radius: 15px;
    width: 291px;
    height: 55px;
    margin-top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1D1D1F;
}

@media(max-width:768px) {
    .vibrat-variant-left-buttoms-vam {
        border-radius: 9px;
        font-size: 15px;
        line-height: 18px;
        padding-left: 20px;
        width: 188px;
        height: 36px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.krya {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

.vibrat-variant-right-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

@media(max-width:768px) {
    .vibrat-variant-right-header {
        font-size: 16px;
        line-height: 20px;
    }
}

.vibrat-variant-right-content {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    padding-top: 18px;
    color: #FFFFFF;
}

@media(max-width:768px) {
    .vibrat-variant-right-content {
        font-size: 20px;
        line-height: 130%;
        padding-top: 10px;
    }
}

.vibrat-variant-right-li {
    padding-top: 18px;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}

@media(max-width:768px) {
    .vibrat-variant-right-li {
        font-size: 16px;
        line-height: 140%;
        padding-top: 10px;
    }
}

.img-icon {
    margin-right: 10px;
}

@media(max-width:768px) {}

.img-icon-wrong {
    padding-right: 10px;
    padding-top: 15px;
}

@media(max-width:768px) {
    .img-icon-wrong {
        padding-top: 0px;
    }
}

.vibrat-variant-right-body {
    padding-top: 30px;
    padding-left: 25px;
}

@media(max-width:768px) {
    .vibrat-variant-right-body {
        padding-top: 20px;
        padding-left: 20px;
    }
}

.second-li {
    padding-top: 21px;
    display: flex;
}

@media(max-width:768px) {
    .second-li {
        padding-top: 12px;
        display: flex;
    }
}

.dostupen-traid-in {
    padding-top: 106px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:768px) {
    .dostupen-traid-in {
        padding-top: 60px;
        flex-direction: column;
    }
}

.dostupen-traid-in-block {
    width: 1286px;
    height: 691px;
    border: 3px solid #1D1D1F;
    border-radius: 15px;
}

@media(max-width:768px) {
    .dostupen-traid-in-block {
        width: 100%;
        height: 100%;
        border-top: 3px solid #1D1D1F;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0px;
    }
}

.dostupen-traid-in-head {
    width: 595px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -31px;
    box-shadow: white;
    background-color: white;
    flex-direction: column;
}

@media(max-width:768px) {
    .dostupen-traid-in-head {
        width: 232px;

    }
}

.dostupen-traid-in-header {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: #1D1D1F;
    text-align: center;

}

@media(max-width:768px) {
    .dostupen-traid-in-header {
        font-size: 20px;
        line-height: 130%;
    }
}

.dostupen-traid-in-header-text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    padding-top: 10px;
}

@media(max-width:768px) {
    .dostupen-traid-in-header-text {
        font-size: 16px;
        line-height: 140%;
    }
}

.dostupen-traid-in-content {
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {
    .dostupen-traid-in-content {
        display: block;

    }
}

.dostupen-traid-in-button {
    text-align: center;
}

@media(max-width:768px) {}

.dostupen-traid-in-content-left {
    margin-top: 30px;
    padding-left: 40px;
    border-right: 3px solid #1D1D1F;
}

@media(max-width:768px) {
    .dostupen-traid-in-content-left {
        width: 285px;
        border-right: none;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.dostupen-traid-in-content-right {
    padding-left: 40px;
    padding-top: 30px;
}

@media(max-width:768px) {
    .dostupen-traid-in-content-right {
        width: 285px;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 0px;
    }
}

.dostupen-traid-in-content-head {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
}

@media(max-width:768px) {
    .dostupen-traid-in-content-head {
        font-size: 18px;
        line-height: 130%;
    }
}

.dostupen-traid-in-content-li {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    padding-top: 40px;
}

@media(max-width:768px) {
    .dostupen-traid-in-content-li {
        font-size: 14px;
        line-height: 140%;
    }
}

.dostupen-traid-in-content-li:nth-child(1n+1) {
    padding-top: 30px;
}

@media(max-width:768px) {
    .dostupen-traid-in-content-li:nth-child(1n+1) {
        padding-top: 10px;
    }
}

.dostupen-traid-in-content-li:last-child {
    padding-bottom: 52px;
}

@media(max-width:768px) {
    .dostupen-traid-in-content-li:last-child {
        padding-bottom: 0px;
    }
}

.dostupen-traid-in-button {
    padding-top: 30px;
}

@media(max-width:768px) {
    .dostupen-traid-in-button {
        padding-top: 20px;
    }
}

.dostupen-traid-in-button-button {
    margin: 0 auto;
    width: 364px;
    height: 55px;
    background: #1D1D1F;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-top: 13px;
    cursor: pointer;
}

@media(max-width:768px) {
    .dostupen-traid-in-button-button {
        width: 234px;
        height: 36px;
        border-radius: 9px;
        font-size: 15px;
        line-height: 18px;
        padding-top: 9px;
    }
}

.traid-icon {
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 16px;
    margin-left: -20px;
}
.traid-icon-mob{
    display: none;
}

@media(max-width:768px) {
    .traid-icon{
        display: none;
    }
    .traid-icon-mob {
        display: block;
        margin-left: -25px;
        margin-top: 7px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

}

.vashi-budushie-klienti {

    width: 100%;
    display: flex;
    justify-content: center;

}

@media(max-width:768px) {
    .vashi-budushie-klienti {
        flex-direction: column;
        margin-top: 40px;
    }
}

.vashi-budushie-klienti-text {
    width: 568px;
    margin-top: 80px;
}

@media(max-width:768px) {
    .vashi-budushie-klienti-text {
        width: 282px;
        margin: 0 auto;
        margin-top: 0;
    }
}

.vashi-budushie-klienti-text-head {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
}

@media(max-width:768px) {
    .vashi-budushie-klienti-text-head {
        font-size: 20px;
    }
}

.vashi-budushie-klienti-text-content {
    width: 525px;
    padding-top: 30px;
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
}

@media(max-width:768px) {
    .vashi-budushie-klienti-text-content {
        width: 282px;
        padding-top: 10px;
        font-size: 16px;
    }
}

.vashi-budushie-klienti-slider {
    width: 592px;
    margin-top: 90px;
    margin-right: 40px;
    margin-left: 66px;
    border-radius: 15px;
}

@media(max-width:768px) {
    .vashi-budushie-klienti-slider {
        width: 320px;
        margin: 0 auto;
        margin-top: 20px;

    }
}

.slider-container {
    background: #1D1D1F;
    border-radius: 15px;
    height: 300px;
    color: #FFFFFF;

}

@media(max-width:768px) {
    .slider-container {
        height: 205px;
    }
}

.slider-header {
    display: flex;
    padding-left: 25px;
    padding-top: 30px;
}

@media(max-width:768px) {
    .slider-header {
        padding-left: 20px;
        padding-top: 20px;
    }
}

.slider-ava {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

@media(max-width:768px) {
    .slider-ava {
        width: 35px;
        height: 35px;
        border-radius: 18px;
    }
}

.slider-header-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    margin-left: 18px;
}

@media(max-width:768px) {
    .slider-header-text {
        font-size: 20px;
        margin-left: 10px;
    }
}

.slider-content {
    font-size: 24px;
    line-height: 140%;
    padding-left: 25px;
    padding-top: 28px;
}

@media(max-width:768px) {
    .slider-content {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 16px;
        padding-right: 12px;
    }
}

.arrow-right {
    display: inline;
    margin-top: 225px;
    margin-bottom: 134px;
    cursor: pointer;
}

@media(max-width:768px) {
    .arrow-right {
        display: none;
    }
}

.swiper-slide {
    padding-right: 15px;
}

@media(max-width:768px) {
    .swiper-slide {
        padding-right: 0;
    }
}

.swiper {
    border-radius: 15px;
}

@media(max-width:768px) {}

.faq {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1D1D1F;
    color: #FFFFFF;
    margin-top: 80px;
}

@media(max-width:768px) {
    .faq {
        margin-top: 40px;
    }
}

.faq-container {
    width: 1366px;
    height: 766px;
    padding-left: 40px;
    padding-top: 40px;
}

@media(max-width:768px) {
    .faq-container {
        width: 320px;
        height: 715px;
        padding-top: 20px;
        padding-left:20px;
    }
}

.faq-head {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
}

@media(max-width:768px) {
    .faq-head {
        font-size: 18px;
    }
}

.faq-text-bold {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    padding-top: 40px;
}

@media(max-width:768px) {
    .faq-text-bold {
        font-size: 18px;
        padding-top: 20px;
        padding-right: 50px;
    }
}

.faq-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    padding-top: 30px;
}

@media(max-width:768px) {
    .faq-text {
        font-size: 16px;
        padding-top: 10px;
        padding-right: 12px;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:768px) {

}

.footer-container {
    width: 1366px;
    height: 134px;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

@media(max-width:768px) {
    .footer-container {
        width: 320px;
        font-size: 12px;
        height: 67px;
    }
}

.logo-footer {
    width: 82px;
    height: 54px;
    margin-left: 40px;
    margin-top: 40px;
}

@media(max-width:768px) {
    .logo-footer {
        width: 41px;
        height: 27px;
        margin-left: 20px;
        margin-top: 20px;
    }
}

.footer-text {
    padding-left: 40px;
    margin-top: 55px;
    margin-bottom: 55px;
    cursor: pointer;
}

@media(max-width:768px) {
    .footer-text {
        display: none;
    }
}

.footer-text-mobile {
    display: none;
}

@media(max-width:768px) {
    .footer-text-mobile {
        display: block;
        padding-top: 25px;
        padding-left: 20px;
    }
}

.footer-date {
    padding-left: 423px;
    padding-top: 55px;
}

@media(max-width:768px) {
    .footer-date {
        display: none;
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    overflow-y: auto;
    overflow-x: hidden;
}

@media(max-width:768px) {}

.popup:target {
    opacity: 1;
    visibility: visible;
}

@media(max-width:768px) {}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media(max-width:768px) {}

.popup-content {
    border-radius: 15px;
    background-color: #FFFFFF;
    color: black;
    max-width: 1206px;
    position: relative;
}

@media(max-width:768px) {
    .popup-content{
        min-width: 300px;
    }
}

.popup-close {
    position: absolute;
    right: 53.33px;
    top: 53.33px;
    width: 37px;
    height: 37px;
    background-image: url("img/X.svg");
    cursor: pointer;
}

@media(max-width:768px) {
    .popup-close{
        right:15.67px;
        top:15.67px;
        width: 19px;
        height: 19px;
        background-image: url("img/x-mobile.svg");
    }
}

.popup-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    padding-left: 40px;
    padding-top: 40px;
}

@media(max-width:768px) {
    .popup-title{
        font-size: 18px;
        padding-left: 6px;
        padding-top: 6px;
        width: 233px;
    }
}

.popup-text {
    padding-left: 40px;
    padding-right: 152px;
}

@media(max-width:768px) {
    .popup-text{
        padding-left:6px;
        padding-right: 6px;
    }
}

.popup-text-head {
    padding-top: 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
}

@media(max-width:768px) {
    .popup-text-head {
        font-size: 17px;
        padding-top: 20px;
    }
}

.popup-text-text {
    padding-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

@media(max-width:768px) {
    .popup-text-text{
        padding-top: 10px;
        font-size: 16px;

    }
}

.form {
    max-width: 1042px;
    height: 500px;
    background: #ffffff;
    margin: 40px;
}

@media(max-width:768px) {
    .form{
        width: 300px;
        height: 453px;
        margin: 0 auto;
        padding-right: 5px;
    }
}

.form-name-text {
    max-width: 500px;
    max-height: 74px;
    border: 3px solid #1D1D1F;
    border-radius: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 210px;
}

@media(max-width:768px) {
    .form-name-text{
        width: 232px;
        height: 36px;
        font-size: 14px;
        padding-left: 16px;
        border-radius: 9px;
        border: 2px solid #1D1D1F;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

.form-mobile {
    margin-top: 30px;
}

@media(max-width:768px) {
    .form-mobile{
        margin-top: 20px;
    }
}

.form-mobile-text {
    width: 332px;
    height: 74px;
    border: 3px solid #1D1D1F;
    border-radius: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    
}

@media(max-width:768px) {
    .form-mobile-text{
        width: 166px;
        height: 36px;
        border-radius: 9px;
        font-size: 14px;
        padding-left: 16px;
        border: 2px solid #1D1D1F;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

.form-cheked-text {
    margin-left: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    width: 636px;
}

@media(max-width:768px) {
    .form-cheked-text{
        font-size: 14px;
        margin-left: 0;
        margin-top: 10px;
        width: 207px;
    }
}

.form-button {
    padding-top: 30px;
}

@media(max-width:768px) {
    .form-button{padding-top: 20px;}
}

.form-button-button {
    width: 192px;
    height: 55px;
    background: #FAF9F9;
    border-radius: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

@media(max-width:768px) {
    .form-button-button{
        width: 132px;
        height: 36px;
        font-size: 16px;
        border-radius: 9px;
    }
}

.form-checked {
    display: flex;
    margin-top: 30px;
    
}

@media(max-width:768px) {
    .form-checked{
        flex-direction: column;
        margin-top: 20px;
    }
}

.form-checked-checkbox {
    display: none;
}

@media(max-width:768px) {}

label {
    margin-top: 14px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 43px;
    height: 43px;
    border: 3px solid #1D1D1F;
    border-radius: 15px;
}

@media(max-width:768px) {
    label{
        width: 23px;
        height: 23px;
        border-radius: 9px;
        border: 2px solid #1D1D1F;
    }
}

input:checked+label {
    background-color: #1D1D1F;
    content: url("img/checked.svg");
}

@media(max-width:768px) {}

.btm-checked {
    background-color: #1D1D1F;
    color: #FFFFFF
}

@media(max-width:768px) {}

.form-head {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
}

@media(max-width:768px) {
    .form-head{
        font-size: 20px;
        width: 180px;
    }
}

.form-content {
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    padding-top: 20px;
    margin-bottom: 40px;
}

@media(max-width:768px) {
    .form-content{
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 20px;
        width: 210px;
    }
}

.polit-buttom {
    cursor: pointer;
    font-weight: 600;
}

@media(max-width:768px) {}

.naebka {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {}

.bold-li {
    font-size: 24px;
    font-weight: 700;
}

@media(max-width:768px) {}


.mobile-call-icon {
    display: none;
}

@media(max-width:768px) {
    .mobile-call-icon {
        display: block;
        position: fixed;
        right: 15px;
        bottom: 15px;
        z-index: 999;
    }
}
.bulletii{
    display: none;
}
@media(max-width:768px){
    .bulletii {
        display: block;
        padding-top: 20px;
        margin: 0 auto
    }
    
    .bulleti .swiper-pagination-bullet {
        background: #515152;
        opacity:1;
        border-radius: 15px;
        width: 20px;
        height: 10px;
    }
    
    .bulleti .swiper-pagination-bullet-active {
        width: 40px;
        height: 10px;
        background: #1D1D1F;
        border-radius: 15px;
        transition: 0.3s ease;
    }
    .modal-dialog{
        max-width:300px !important; 
    }
    .modal-content{
        margin-left: 0px;
        margin-right: 0px;
    }
}
.modal-dialog{
    max-width: 1200px !important; 
    
}
@media(max-width:320px){
    .modal-content{
        margin-left: 0px;
        margin-right: 0px;
    }
}
#call-form{
    padding-right: 0px !important;
}
#politic-main{
    padding-right: 0px !important;
}
#politic-main2{
    padding-right: 0px !important;
}



.uspeh-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top:0;
    left: 0; 
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}
.uspeh-popup-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.uspeh-popup-content{
    background-color: #fff;
    width: 1042px;
    height: 600px;
    border-radius: 15px;
    position: relative;
}
.uspeh-popup-close{
    width: 38px;
    height: 38px;
    position: absolute;
    top: 53px;
    right: 54px;
    background: url("img/krestik.svg");
    cursor: pointer;
}
.uspeh-popup-content-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.uspeh-popup-content-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 140%;
padding-top: 25px;
}
.uspeh-logo{
    width: 120px;
    height: 120px;
}

.active{
    opacity: 1;
    visibility: visible;
}